/* -- VARIABLES -- */

:root {
    --cpar-primary:       #000000;
    --cpar-secondary:     #C8102E;
    --cpar-tertiary:      #02AFF0;

    --cpar-action:        #00AC8E;
    --cpar-content:       #000000;

    --cpar-responsive: calc(100vw - 320px) * .000785 + 62.5%;

    --cpar-section: calc(20px + 5vw);
    --cpar-section-sml: calc(1.5 * var(--cpar-section));
    --cpar-section-med: calc(2 * var(--cpar-section));
    --cpar-section-lrg: calc(3 * var(--cpar-section));
    --cpar-section-xlg: calc(5 * var(--cpar-section)); }


/* -- BASELINE -- */

* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1; }

*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 1;
    margin: 0; }

html {
    font-size: clamp( 62.5%, var(--cpar-responsive), 100% );
    height: 100dvh;
    scroll-behavior: smooth;
    width: 100%; max-width: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: auto; }

body {
    background-color: #fff;
    color: var(--cpar-content);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.75rem;
    font-optical-sizing: auto;
    font-weight: 350;
    min-height: 100dvh;
    width: 100%; max-width: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-y: auto;
    overflow-x: hidden; }

a {
    background-color: transparent;
    color: var(--cpar-action);
    display: inline;
    font-weight: 600;
    overflow-wrap: break-word;
    text-decoration: none;
    text-underline-offset: .25rem;
    word-break: break-word; }

    a:hover,
    a:active { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.25;
    overflow-wrap: break-word; }

h1 { font-size: 3.5rem; color: var(--cpar-tertiary); }

h2 { font-size: 3rem; }

h3 { font-size: 2.5rem; }

h4 { font-size: 2.25rem; }

h5 { font-size: 2rem; }

h6 { font-size: 1.75rem; }

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%; }

main { isolation: isolate; }

p {
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
    line-height: 1.5; }

    p:last-child,
    p:only-of-type { margin-bottom: 0; }

section { display: block; max-width: 100%; }

ul { display: block; padding: 0; max-width: 100%; }

    ul > li,
    ul > ul,
    ul > ol { list-style-type: none; }


/* -- CPAR DESIGN -- */

[data-cpar-layout="body"] {
    background-size: cover;
    background-position: center center;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr;
    z-index: 0;
    width: 100%; max-width: 100%;
    overflow: hidden; }

    [data-cpar-region="header"] {
        display: grid;
        grid-template-columns: 1fr auto;
        padding: 2.75rem var(--cpar-section) 0; }

        [data-cpar-region="header"] .header-title {}

        [data-cpar-region="header"] .header-cta {}

        [data-cpar-region="header"] .header-cta a:link,
        [data-cpar-region="header"] .header-cta a:visited,
        [data-cpar-region="header"] .header-cta a:active {
            background-color: var(--cpar-action);
            color: #fff;
            padding: 1rem 1.5rem;
            border-radius: 1.5rem;
            line-height: 4.7rem; }

    [data-cpar-region="main"] {
        display: grid;
        grid-template-columns: minmax(0, 300px) 1fr;
        column-gap: 5rem;
        padding: 7.5rem var(--cpar-section) 0; }

        [data-cpar-region="main"] .main-strip {
            background-color: var(--cpar-secondary);
            padding: 2.5rem;
            border-top-left-radius: 2.5rem;
            border-top-right-radius: 2.5rem; }

            [data-cpar-region="main"] .main-strip img {
                width: 100%;
                max-width: 100%;
                border-radius: 2.5rem; }

        [data-cpar-region="main"] .main-body { padding-top: 2.75rem; }

            [data-cpar-region="main"] .main-body p { font-weight: 500; }


/* -- CUSTOM STYLING -- */


/* -- MOBILE STYLING -- */
@media screen and ( max-width: 782px ) {}