/* -- VARIABLES -- */

:root {
    --cpar-primary:       #000000;
    --cpar-secondary:     #C8102E;
    --cpar-tertiary:      #02AFF0;

    --cpar-action:        #00AC8E;
    --cpar-content:       #000000;

    --cpar-responsive: calc(100vw - 320px) * .000785 + 62.5%;

    --cpar-section: calc(20px + 5vw);
    --cpar-section-sml: calc(1.5 * var(--cpar-section));
    --cpar-section-med: calc(2 * var(--cpar-section));
    --cpar-section-lrg: calc(3 * var(--cpar-section));
    --cpar-section-xlg: calc(5 * var(--cpar-section)); }


/* -- BASELINE -- */

* {
    box-sizing: border-box;
    margin: 0;
    line-height: 1; }

*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    line-height: 1;
    margin: 0; }

html {
    font-size: clamp( 62.5%, var(--cpar-responsive), 100% );
    height: 100dvh;
    scroll-behavior: smooth;
    width: 100%; max-width: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: auto; }

body {
    background-color: #fff;
    border-bottom: .75rem solid var(--cpar-secondary);
    color: var(--cpar-content);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 350;
    min-height: 100dvh;
    width: 100%; max-width: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    overflow-y: auto;
    overflow-x: hidden; }

a {
    background-color: transparent;
    color: var(--cpar-action);
    display: inline;
    font-weight: 600;
    overflow-wrap: break-word;
    text-decoration: none;
    text-underline-offset: .25rem;
    word-break: break-word; }

    a:hover,
    a:active { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.25;
    overflow-wrap: break-word; }

h1 { font-size: 3.5rem; color: var(--cpar-tertiary); font-weight: 800; }

h2 { font-size: 2.5rem; margin: 2.75rem 0 2rem; }

h3 { font-size: 2.5rem; }

h4 { font-size: 2.25rem; }

h5 { font-size: 2rem; }

h6 { font-size: 1.75rem; }

img {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%; }

main { isolation: isolate; }

p {
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;
    line-height: 1.5; }

    p:last-child,
    p:only-of-type { margin-bottom: 0; }

section { display: block; max-width: 100%; }

ul { display: block; padding: 0; max-width: 100%; }

    ul > li,
    ul > ul,
    ul > ol { list-style-type: none; }


/* -- STYLING -- */

[data-cpar-layout="body"] {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr;
    z-index: 0;
    width: 100%; max-width: 100%;
    overflow: hidden;
    background-attachment: fixed !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; }

    [data-cpar-region="header"] {
        text-align: right;
        padding: 2.75rem var(--cpar-section) 0; }

        [data-cpar-region="header"] .header-title {}

    [data-cpar-region="main"] {
        display: grid;
        grid-template-columns: minmax(0, 300px) 1fr;
        column-gap: 5rem;
        padding: 3.5rem var(--cpar-section) 0; }

        [data-cpar-region="main"] .main-strip {
            background-color: var(--cpar-secondary);
            padding: 2.5rem;
            border-top-left-radius: 2.5rem;
            border-top-right-radius: 2.5rem; }

            [data-cpar-region="main"] .main-strip img {
                width: 100%;
                max-width: 100%;
                border-radius: 2.5rem; }

            [data-cpar-region="main"] .link-button {
                    display: block;
                    margin-top: 1.75rem;
                    background-color: #000;
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: 475;
                    text-align: center;
                    border-radius: 1.25rem;
                    padding: 1rem 1.5rem; }

        [data-cpar-region="main"] .main-body {
            display: grid;
            grid-template-rows: 1fr auto;
            padding-top: 2.75rem; }

            [data-cpar-region="main"] .main-body p { font-weight: 425; }

            [data-cpar-region="main"] .wallet-address {
                color: var(--cpar-action);
                font-family: 'Space Mono', monospace;
                font-weight: 550; }
        
                [data-cpar-region="main"] .wallet-address:hover { cursor: pointer; }
        
            [data-cpar-region="main"] .wallet-type {
                display: block;
                margin-top: .5rem;
                font-size: 1.5rem;
                font-style: italic; }
        
            [data-cpar-region="main"] .wallet-item:not(:last-child) { margin-bottom: 1.75rem; }

            [data-cpar-region="main"] .body-disclaimer { font-size: 1.15rem; padding: 2.75rem 0 1.5rem; line-height: 1.5; }


/* -- MOBILE STYLING -- */

    @media screen and ( max-width: 999px ) {

        [data-cpar-region="main"] { grid-template-columns: minmax(0, 250px) 1fr; }
    
    }

    @media screen and ( max-width: 767px ) {

        [data-cpar-region="main"] { grid-template-columns: minmax(0, 200px) 1fr; }

        [data-cpar-region="header"] { text-align: center !important; }

    }

    @media screen and ( max-width: 650px ) {

        [data-cpar-region="main"] { grid-template-columns: 1fr; }

        [data-cpar-region="main"] .main-strip { border-radius: 2.5rem; }

    }